* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0 , 0, 0, 10%);
}

.grey {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.logo {
  height: 25px;
  width: auto;
}

/*Styling for Hero Section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  padding: 20px;
}

.photo-grid {
  width: 70%;
  padding: 1rem 0 2rem 0;
}

.hero-content{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.hero--paragraph {
  max-width: 325px;
}

/*Styling for Card Component*/

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
  }

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--title {
  overflow:hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.card--price {
  margin-top: auto;
}
