* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0 , 0, 0, 10%);
}

.logo {
  height: 25px;
  width: auto;
}
