* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0 , 0, 0, 10%);
}

.logo {
  height: 25px;
  width: auto;
}

/*Styling for Hero Section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-grid {
  width: 70%;
  padding: 2rem 0;
}

.hero-content{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.hero--paragraph {
  width: 65%;
}
